<%= simple_form_for @recipe, html: {multipart: true} do |f| %>
  <div id="errors">
    <% if @recipe.errors.any? %>
      <p><%= pluralize(@recipe.errors.count, "error") %> prevented this recipe from saving.</p>
      <ul>
        <% @recipe.errors.full_message.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= f.input :name, input_html: { class: "form-control"} %>
        <%= f.input :description, input_html: {class: "form-control"} %>
        <%= f.input :batch_size, input_html: {class: "form-control"} %>
        <%= f.input :boil_time, input_html: {class: "form-control"} %>
        <%= f.input :OG, input_html: {class: "form-control"} %>
        <%= f.input :FG, input_html: {class: "form-control"} %>
        <%= f.input :IBU, input_html: {class: "form-control"} %>
        <%= f.input :SRM, input_html: {class: "form-control"} %>
        <%= f.input :grain, input_html: {class: "form-control"} %>
        <%= f.input :hops, input_html: {class: "form-control"} %>
        <%= f.input :yeast, input_html: {class: "form-control"} %>
        <%= f.input :directions, input_html: {class: "form-control"} %>
        <%= f.input :notes, input_html: {class: "form-control"} %>
        <%= f.button :submit %>

      </div>
    </div>
  </div>
<% end %>