<div class="user-info">
  <div class="user-name">
    <h2><%= @user.first_name + ' ' + @user.last_name %>'s Homebrews</h2>
  </div>
</div>

<% if @user.recipes.empty? %>
<div class="empty-recipes">
  <h1>You have no homebrew recipes saved!</h1>
  <h3><%= link_to "Click Here to Create a New Recipe Now!", new_recipe_path %></h3>
</div>

<% else %>

<div class="recipes">
  <% @user.recipes.reverse_each do |recipe| %>
  <div class="box panel panel-default">
    <%= link_to (image_tag recipe.image), user_recipe_path(recipe.user, recipe)  %>
    <div class="panel panel-body">
      <%= link_to recipe.name, user_recipe_path(recipe.user, recipe) %>
      <p><%= recipe.beer_style %></p>
    </div>
  </div>
  <% end %>
</div>
<% end %>